
/* Extensions Google Chrome And Extensions Visual Studio Code */

/* Extensions Google Chrome */
/* ده بتاع الالون */
https://chrome.google.com/webstore/detail/flat-colors-guide/nienncdeogcamkahjjmaaipnojjokbok?hl=pt-BR

/* JSONده علشان يرتب ال */
https://chrome.google.com/webstore/detail/json-formatter/bcjindcccaagfpapjjmafapmmgkkhgoa?hl=ar	

/*ده بتاع لو عايز انزل صور من المواقع */
https://chrome.google.com/webstore/detail/image-downloader/cnpniohnfphhjihaiiggeabnkjhpaldj
https://chrome.google.com/webstore/detail/image-downloader-imageye/agionbommeaifngbhincahgmoflcikhm

/* ده علشان اصور الموقع بطول الشاشه */
https://chrome.google.com/webstore/detail/gofullpage-full-page-scre/fdpohaocaechififmbbbbbknoalclacl

/* علشان اجرب الموقع بكل احجام موبيل ثم شاشات معاينه  */
responsive
https://chrome.google.com/webstore/detail/mobile-simulator-responsi/ckejmhbmlajgoklhgbapkiccekfoccmk

/* fake data */
https://chrome.google.com/webstore/detail/fake-filler/bnjjngeaknajbdcgpfkgnonkmififhfo

/* react */
React Developer Tools
Redux Dev Tools
https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi
https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd


/* Vue */
https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd

/* =================================================================================================================*/
// Extensions Visual Studio Code

// Visual Studio Code
Rainbow Brackets
Rainbow Tags
Prettier - Code formatter
Live Server
EditorConfig for VS Code
ESLint

// React
Simple React Snippets
Simple React Hooks Snippets
Auto Import - ES6, TS, JSX, TSX
ES7 React/Redux/GraphQL/React-Native snippets

// vue
Vue Language Features (Volar)
Vetur